DR-GW-Group/DR-GW-Group.Events.wsdl

<!--WSDL generated by thinktecture WSCF; version 1.0.13.0-->
<!--Wednesday, 06-06-2018 - 02:08 PM-->
<definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="DR-GW-Interface/DR-GW-Group.Events" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DR-GW-Group.Events" targetNamespace="DR-GW-Interface/DR-GW-Group.Events" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="DR-GW-Group.Events.xsd" namespace="DR-GW-Interface/DR-GW-Group.Events" />
    </xsd:schema>
  </types>
  <message name="group_GetEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_GetEvent" />
  </message>
  <message name="group_GetListEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_GetListEvent" />
  </message>
  <message name="group_GetRadioMembersEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_GetRadioMembersEvent" />
  </message>
  <message name="group_GetAppMembersEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_GetAppMembersEvent" />
  </message>
  <message name="group_EventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_Event" />
  </message>
  <message name="group_RadioMemberEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_RadioMemberEvent" />
  </message>
  <message name="group_AppMemberEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_AppMemberEvent" />
  </message>
  <message name="group_GetCombinationsEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_GetCombinationsEvent" />
  </message>
  <message name="group_CombinationEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_CombinationEvent" />
  </message>
  <message name="group_SubscribeDataEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_SubscribeDataEvent" />
  </message>
  <message name="group_TrackSubscriptionEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_TrackSubscriptionEvent" />
  </message>
  <message name="group_AddRadioMemberEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_AddRadioMemberEvent" />
  </message>
  <message name="group_RemoveRadioMemberEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_RemoveRadioMemberEvent" />
  </message>
  <message name="group_AddCombinationEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_AddCombinationEvent" />
  </message>
  <message name="group_RemoveCombinationEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_RemoveCombinationEvent" />
  </message>
  <portType name="DR-GW-Group.EventsInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="Group_GetEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_GetEventIn" />
    </operation>
    <operation name="Group_GetListEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_GetListEventIn" />
    </operation>
    <operation name="Group_GetRadioMembersEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_GetRadioMembersEventIn" />
    </operation>
    <operation name="Group_GetAppMembersEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_GetAppMembersEventIn" />
    </operation>
    <operation name="Group_Event">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_EventIn" />
    </operation>
    <operation name="Group_RadioMemberEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_RadioMemberEventIn" />
    </operation>
    <operation name="Group_AppMemberEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_AppMemberEventIn" />
    </operation>
    <operation name="Group_GetCombinationsEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_GetCombinationsEventIn" />
    </operation>
    <operation name="Group_CombinationEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_CombinationEventIn" />
    </operation>
    <operation name="Group_SubscribeDataEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_SubscribeDataEventIn" />
    </operation>
    <operation name="Group_TrackSubscriptionEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_TrackSubscriptionEventIn" />
    </operation>
    <operation name="Group_AddRadioMemberEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_AddRadioMemberEventIn" />
    </operation>
    <operation name="Group_RemoveRadioMemberEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_RemoveRadioMemberEventIn" />
    </operation>
    <operation name="Group_AddCombinationEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_AddCombinationEventIn" />
    </operation>
    <operation name="Group_RemoveCombinationEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_RemoveCombinationEventIn" />
    </operation>
  </portType>
  <binding name="WebSocketBinding_DR-GW-Group.EventsInterface" type="tns:DR-GW-Group.EventsInterface">
    <soap:binding transport="http://schemas.microsoft.com/soap/websocket" />
    <operation name="Group_GetEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group.Events:group_GetEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Group_GetListEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group.Events:group_GetListEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Group_GetRadioMembersEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group.Events:group_GetRadioMembersEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Group_GetAppMembersEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group.Events:group_GetAppMembersEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Group_Event">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group.Events:group_EventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Group_RadioMemberEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group.Events:group_RadioMemberEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Group_AppMemberEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group.Events:group_AppMemberEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Group_GetCombinationsEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group.Events:group_GetCombinationsEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Group_CombinationEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group.Events:group_CombinationEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Group_SubscribeDataEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group.Events:group_SubscribeDataEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Group_TrackSubscriptionEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group.Events:group_TrackSubscriptionEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Group_AddRadioMemberEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group.Events:group_AddRadioMemberEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Group_RemoveRadioMemberEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group.Events:group_RemoveRadioMemberEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Group_AddCombinationEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group.Events:group_AddCombinationEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Group_RemoveCombinationEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group.Events:group_RemoveCombinationEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
  </binding>
  <service name="DR-GW-Group.EventsPort">
    <port name="DR-GW-Group.EventsPort" binding="tns:WebSocketBinding_DR-GW-Group.EventsInterface">
      <soap:address location="ws://localhost" />
    </port>
  </service>
</definitions>