DR-GW-Group/DR-GW-Group.wsdl

<!--WSDL generated by thinktecture WSCF; version 1.0.13.0-->
<!--Wednesday, 06-06-2018 - 02:07 PM-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:import1="DR-GW-Interface/DR-GW-Group.Events" xmlns:tns="DR-GW-Interface/DR-GW-Group" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="DR-GW-Group" targetNamespace="DR-GW-Interface/DR-GW-Group" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="DR-GW-Group.xsd" namespace="DR-GW-Interface/DR-GW-Group" />
      <xsd:import schemaLocation="DR-GW-Group.Events.xsd" namespace="DR-GW-Interface/DR-GW-Group.Events" />
    </xsd:schema>
  </types>
  <message name="group_GetIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_Get" />
  </message>
  <message name="group_GetOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:Group_Response" />
  </message>
  <message name="group_GetListIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_GetList" />
  </message>
  <message name="group_GetListOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:Group_Response" />
  </message>
  <message name="group_GetRadioMembersIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_GetRadioMembers" />
  </message>
  <message name="group_GetRadioMembersOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:Group_Response" />
  </message>
  <message name="group_GetAppMembersIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_GetAppMembers" />
  </message>
  <message name="group_GetAppMembersOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:Group_Response" />
  </message>
  <message name="group_TrackIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_Track" />
  </message>
  <message name="group_TrackOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:Group_Response" />
  </message>
  <message name="group_AddRadioMemberIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_AddRadioMember" />
  </message>
  <message name="group_AddRadioMemberOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:Group_Response" />
  </message>
  <message name="group_RemoveRadioMemberIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_RemoveRadioMember" />
  </message>
  <message name="group_RemoveRadioMemberOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:Group_Response" />
  </message>
  <message name="group_GetCombinationsIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_GetCombinations" />
  </message>
  <message name="group_GetCombinationsOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:Group_Response" />
  </message>
  <message name="group_AddCombinationIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_AddCombination" />
  </message>
  <message name="group_AddCombinationOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:Group_Response" />
  </message>
  <message name="group_RemoveCombinationIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_RemoveCombination" />
  </message>
  <message name="group_RemoveCombinationOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:Group_Response" />
  </message>
  <message name="group_SubscribeDataIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Group_SubscribeData" />
  </message>
  <message name="group_SubscribeDataOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:Group_Response" />
  </message>
  <portType name="DR-GW-GroupInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="Group_Get">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_GetIn" />
      <output message="tns:group_GetOut" />
    </operation>
    <operation name="Group_GetList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_GetListIn" />
      <output message="tns:group_GetListOut" />
    </operation>
    <operation name="Group_GetRadioMembers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_GetRadioMembersIn" />
      <output message="tns:group_GetRadioMembersOut" />
    </operation>
    <operation name="Group_GetAppMembers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_GetAppMembersIn" />
      <output message="tns:group_GetAppMembersOut" />
    </operation>
    <operation name="Group_Track">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_TrackIn" />
      <output message="tns:group_TrackOut" />
    </operation>
    <operation name="Group_AddRadioMember">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_AddRadioMemberIn" />
      <output message="tns:group_AddRadioMemberOut" />
    </operation>
    <operation name="Group_RemoveRadioMember">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_RemoveRadioMemberIn" />
      <output message="tns:group_RemoveRadioMemberOut" />
    </operation>
    <operation name="Group_GetCombinations">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_GetCombinationsIn" />
      <output message="tns:group_GetCombinationsOut" />
    </operation>
    <operation name="Group_AddCombination">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_AddCombinationIn" />
      <output message="tns:group_AddCombinationOut" />
    </operation>
    <operation name="Group_RemoveCombination">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_RemoveCombinationIn" />
      <output message="tns:group_RemoveCombinationOut" />
    </operation>
    <operation name="Group_SubscribeData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:group_SubscribeDataIn" />
      <output message="tns:group_SubscribeDataOut" />
    </operation>
  </portType>
  <binding name="WebSocketBinding_DR-GW-GroupInterface" type="tns:DR-GW-GroupInterface">
    <soap:binding transport="http://schemas.microsoft.com/soap/websocket" />
    <operation name="Group_Get">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group:group_GetIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Group_GetList">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group:group_GetListIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Group_GetRadioMembers">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group:group_GetRadioMembersIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Group_GetAppMembers">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group:group_GetAppMembersIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Group_Track">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group:group_TrackIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Group_AddRadioMember">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group:group_AddRadioMemberIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Group_RemoveRadioMember">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group:group_RemoveRadioMemberIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Group_GetCombinations">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group:group_GetCombinationsIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Group_AddCombination">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group:group_AddCombinationIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Group_RemoveCombination">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group:group_RemoveCombinationIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Group_SubscribeData">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Group:group_SubscribeDataIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DR-GW-GroupPort">
    <port name="DR-GW-GroupPort" binding="tns:WebSocketBinding_DR-GW-GroupInterface">
      <soap:address location="ws://localhost" />
    </port>
  </service>
</definitions>