DR-GW-Call/DR-GW-Call.CommonTypes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="DR-GW-Interface/DR-GW-Call.CommonTypes"
           targetNamespace="DR-GW-Interface/DR-GW-Call.CommonTypes"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified"
           xmlns:ct="DR-GW-Interface/CommonTypes">
  <xs:annotation>
    <xs:documentation/>
  </xs:annotation>
  <xs:import namespace="DR-GW-Interface/CommonTypes"
    schemaLocation="../Types/CommonTypes.xsd"/>
  
<!-- *********************************************************************** -->
  <xs:simpleType name="typePTTRequest">
	<xs:annotation>
		<xs:documentation>All possible PTT requests.</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:normalizedString">
      <xs:enumeration value="demandtx">
	    <xs:annotation>
		  <xs:documentation>This method can be used to request a speech item
            for a connected call.</xs:documentation>
		  </xs:annotation>
		</xs:enumeration>
      <xs:enumeration value="ceasetx">
	    <xs:annotation>
		  <xs:documentation>This method is used to inform the system that the
            speech item is not needed any more.</xs:documentation>
		</xs:annotation>
	  </xs:enumeration>
	</xs:restriction>
  </xs:simpleType>
  
<!-- *********************************************************************** -->
  <xs:simpleType name="typePTTEvent">
	<xs:annotation>
      <xs:documentation>All possible PTT events.</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:normalizedString">
	  <xs:enumeration value="txGranted">
	    <xs:annotation>
		  <xs:documentation>This event is used to inform of granted transmission
            request. This event is called when the transmission is granted to
            client, to another user or the request has been queued.
          </xs:documentation>
	    </xs:annotation>
	  </xs:enumeration>
      <xs:enumeration value="txCeased">
	    <xs:annotation>
	      <xs:documentation>This event is used to inform that transmission is
            ceased and nobody has the speech item.</xs:documentation>
	    </xs:annotation>
  	  </xs:enumeration>
	</xs:restriction>
  </xs:simpleType>
  
<!-- *********************************************************************** -->
  <xs:simpleType name="typeActionRequest">
    <xs:annotation>
      <xs:documentation>All possible call actions.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="setup">
        <xs:annotation>
          <xs:documentation>This method is used to initiate a new call setup.
            For a call setup to be successful it is required that the resources
            have been reserved prior this method call.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="connect">
        <xs:annotation>
          <xs:documentation>This method is used to connect
            an incoming call.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="hold">
        <xs:annotation>
          <xs:documentation>This method requests to put
            an individual call to hold.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="unhold">
        <xs:annotation>
          <xs:documentation>This method is a request for resuming
            an individual call from hold.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="disconnect">
        <xs:annotation>
          <xs:documentation>This method is used to disconnect
            a call.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="transfer">
        <xs:annotation>
          <xs:documentation>This method is used to transfer
            an individual call to a new recipient.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="releasecall">
        <xs:annotation>
          <xs:documentation>This method is used to release radio subscriber’s
            individual call.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
<!-- *********************************************************************** -->
  <xs:simpleType name="typeActionEvent">
    <xs:annotation>
      <xs:documentation>All possible call actions.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="incoming">
        <xs:annotation>
          <xs:documentation>This event fired when there is an incoming call.
            This is the first indication of
            a new incoming call.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="connected">
        <xs:annotation>
          <xs:documentation>This event is used to inform that call
            has been connected and call setup is finished.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="held">
        <xs:annotation>
          <xs:documentation>This event is used to inform TCS Client that
            individual call was put to hold.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="resumed">
        <xs:annotation>
          <xs:documentation>This event is used to inform that individual call
            has been taken from hold.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="disconnected">
        <xs:annotation>
          <xs:documentation>This event is used to inform that the call
            was disconnected.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="transferred">
        <xs:annotation>
          <xs:documentation>This event is a response to transfer method call
            and indicates the result of the request.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
<!-- *********************************************************************** -->
  <xs:simpleType name="typeSelectionLevel">
    <xs:annotation>
      <xs:documentation>Defines how the target is monitored.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="no">
        <xs:annotation>
          <xs:documentation>No selection. Used to remove selection.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="event">
        <xs:annotation>
          <xs:documentation>Event monitoring.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="audio">
        <xs:annotation>
          <xs:documentation>Audio monitoring.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="use">
        <xs:annotation>
          <xs:documentation>Selection level use.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="a_use">
        <xs:annotation>
          <xs:documentation>Selection level active use.</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  
<!-- *********************************************************************** -->
  <xs:simpleType name="typeCallMode">
    <xs:annotation>
      <xs:documentation>Call mode attribute. Choices are simplex or
        duplex.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="simplex"/>
      <xs:enumeration value="duplex"/>
    </xs:restriction>
  </xs:simpleType>
  
<!-- *********************************************************************** -->
  <xs:simpleType name="typeCallType">
    <xs:annotation>
      <xs:documentation>Call type attribute. Choices are Point2Point,
        Point2MultiPoint or Broadcast.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="p2p"/>
      <xs:enumeration value="p2mp"/>
      <xs:enumeration value="bcast"/>
    </xs:restriction>
  </xs:simpleType>
  
<!-- *********************************************************************** -->
  <xs:simpleType name="typeCallDemandPriority">
    <xs:annotation>
      <xs:documentation>Defines priority of speech item request: normal,
        pre-emptive, or emergency.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="normal"/>
      <xs:enumeration value="preemptive"/>
      <xs:enumeration value="emergency"/>
    </xs:restriction>
  </xs:simpleType>
  
<!-- *********************************************************************** -->
  <xs:simpleType name="typeAudioCodec">
    <xs:annotation>
      <xs:documentation>Audio codecs enumeration type. Currently supported are
        G.711 alaw, G.711 ulaw and TETRA audio codec.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="alaw"/>
      <xs:enumeration value="ulaw"/>
      <xs:enumeration value="tetra"/>
    </xs:restriction>
  </xs:simpleType>
  
<!-- *********************************************************************** -->
  <xs:simpleType name="typeWorkstationId">
    <xs:annotation>
      <xs:documentation>Optional parameter is used to support
        the "neighbours" feature.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:normalizedString">
    </xs:restriction>
  </xs:simpleType>
  
<!-- *********************************************************************** -->
  <xs:simpleType name="typeTxGrant">
    <xs:annotation>
      <xs:documentation>Defines to whom speech item was granted.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="granted"/>
      <xs:enumeration value="notGranted"/>
      <xs:enumeration value="queued"/>
      <xs:enumeration value="granted2another"/>
    </xs:restriction>
  </xs:simpleType>
  
<!-- *********************************************************************** -->
  <xs:complexType name="typeSelection">
    <xs:annotation>
      <xs:documentation/>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="level" type="typeSelectionLevel"/>
      <xs:element name="target" type="ct:typeAddress"/>
    </xs:sequence>
  </xs:complexType>
  
<!-- *********************************************************************** -->
  <xs:complexType name="typeCallAttributes">
    <xs:annotation>
      <xs:documentation>Contains all attributes of the
        TETRA voice call.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="hook" type="xs:boolean" minOccurs="0"/>
      <xs:element name="mode" type="typeCallMode" minOccurs="0"/>
      <xs:element name="commtype" type="typeCallType" minOccurs="0"/>
      <xs:element name="priority" type="xs:unsignedByte" default="1"
        minOccurs="0"/>
      <xs:element name="encryption" type="xs:boolean" default="true"
        minOccurs="0"/>
      <xs:element name="ambienceListen" type="xs:boolean" default="0"
        minOccurs="0"/>
      <xs:element name="req2speak" type="xs:boolean" default="1" minOccurs="0"/>
      <xs:element name="demandPriority" type="typeCallDemandPriority"
        default="normal" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
<!-- *********************************************************************** -->
  <xs:complexType name="typeKeyManagement">
    <xs:annotation>
      <xs:documentation>Contains the complete keymanagement information from the
        BOS-Simcard.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="code">
        <xs:simpleType>
          <xs:restriction base="xs:hexBinary">
            <xs:length value="2"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:choice>
        <xs:sequence>
          <xs:element name="priority" type="typeKeyManagementTextPriority"
            minOccurs="0" default="normal"/>
          <xs:element name="interaction" type="xs:boolean" minOccurs="0"
            default="false">
            <xs:annotation>
              <xs:documentation>If the user interaction is required, then the
                message box should be visible until user interaction is made,
                otherwise should be hidden after delay.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="text" type="xs:normalizedString"/>
        </xs:sequence>
        <xs:element name="tone" type="xs:boolean" default="false"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="typeKeyManagementTextPriority">
    <xs:annotation>
      <xs:documentation>Defines the priority of the keymanagement information.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="normal"/>
      <xs:enumeration value="high"/>
    </xs:restriction>
  </xs:simpleType>
  
<!-- *********************************************************************** -->
<!-- unit in emergency                                                       -->
<!-- *********************************************************************** -->
  <xs:simpleType name="typeEmergencyInfo">
    <xs:annotation>
      <xs:documentation>Defines action taken by user in emergency.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:normalizedString">
      <xs:enumeration value="addTx"/>
      <xs:enumeration value="add"/>
      <xs:enumeration value="ceased"/>
      <xs:enumeration value="demandTx"/>
      <xs:enumeration value="removed"/>
      <xs:enumeration value="emergencyCallDisconnected"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>





























