DR-GW-Call/DR-GW-Call.Events.wsdl

<!--WSDL generated by thinktecture WSCF; version 1.0.13.0-->
<!--Wednesday, 06-06-2018 - 01:51 PM-->
<definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="DR-GW-Interface/DR-GW-Call.Events" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DR-GW-Call.Events" targetNamespace="DR-GW-Interface/DR-GW-Call.Events" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="DR-GW-Call.Events.xsd" namespace="DR-GW-Interface/DR-GW-Call.Events" />
    </xsd:schema>
  </types>
  <message name="call_SelectEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Call_SelectEvent" />
  </message>
  <message name="call_EventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Call_Event" />
  </message>
  <message name="call_PTTEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Call_PTTEvent" />
  </message>
  <message name="call_UnitInEmergencyEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Call_UnitInEmergencyEvent" />
  </message>
  <message name="call_KeyExchangeEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Call_KeyExchangeEvent" />
  </message>
  <portType name="DR-GW-Call.EventsInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="Call_SelectEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:call_SelectEventIn" />
    </operation>
    <operation name="Call_Event">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:call_EventIn" />
    </operation>
    <operation name="Call_PTTEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:call_PTTEventIn" />
    </operation>
    <operation name="Call_UnitInEmergencyEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:call_UnitInEmergencyEventIn" />
    </operation>
    <operation name="Call_KeyExchangeEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:call_KeyExchangeEventIn" />
    </operation>
  </portType>
  <binding name="WebSocketBinding_DR-GW-Call.EventsInterface" type="tns:DR-GW-Call.EventsInterface">
    <soap:binding transport="http://schemas.microsoft.com/soap/websocket" />
    <operation name="Call_SelectEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Call.Events:call_SelectEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Call_Event">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Call.Events:call_EventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Call_PTTEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Call.Events:call_PTTEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Call_UnitInEmergencyEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Call.Events:call_UnitInEmergencyEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Call_KeyExchangeEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Call.Events:call_KeyExchangeEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
  </binding>
  <service name="DR-GW-Call.EventsPort">
    <port name="DR-GW-Call.EventsPort" binding="tns:WebSocketBinding_DR-GW-Call.EventsInterface">
      <soap:address location="ws://localhost" />
    </port>
  </service>
</definitions>