DR-GW-Call/DR-GW-Call.wsdl

<!--WSDL generated by thinktecture WSCF; version 1.0.13.0-->
<!--Wednesday, 06-06-2018 - 01:50 PM-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:import1="DR-GW-Interface/DR-GW-Call.Events" xmlns:tns="DR-GW-Interface/DR-GW-Call" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="DR-GW-Call" targetNamespace="DR-GW-Interface/DR-GW-Call" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="DR-GW-Call.xsd" namespace="DR-GW-Interface/DR-GW-Call" />
      <xsd:import schemaLocation="DR-GW-Call.Events.xsd" namespace="DR-GW-Interface/DR-GW-Call.Events" />
    </xsd:schema>
  </types>
  <message name="call_SelectIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Call_Select" />
  </message>
  <message name="call_RequestIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Call_Request" />
  </message>
  <message name="call_PTTRequestIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Call_PTTRequest" />
  </message>
  <message name="call_KeyExchangeIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Call_KeyExchange" />
  </message>
  <portType name="DR-GW-CallInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="Call_Select">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:call_SelectIn" />
    </operation>
    <operation name="Call_Request">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:call_RequestIn" />
    </operation>
    <operation name="Call_PTTRequest">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:call_PTTRequestIn" />
    </operation>
    <operation name="Call_KeyExchange">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:call_KeyExchangeIn" />
    </operation>
  </portType>
  <binding name="WebSocketBinding_DR-GW-CallInterface" type="tns:DR-GW-CallInterface">
    <soap:binding transport="http://schemas.microsoft.com/soap/websocket" />
    <operation name="Call_Select">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Call:call_SelectIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Call_Request">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Call:call_RequestIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Call_PTTRequest">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Call:call_PTTRequestIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Call_KeyExchange">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Call:call_KeyExchangeIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
  </binding>
  <service name="DR-GW-CallPort">
    <port name="DR-GW-CallPort" binding="tns:WebSocketBinding_DR-GW-CallInterface">
      <soap:address location="ws://localhost" />
    </port>
  </service>
</definitions>