DR-GW-Radio/DR-GW-Radio.wsdl

<!--WSDL generated by thinktecture WSCF; version 1.0.13.0-->
<!--Wednesday, 06-06-2018 - 02:21 PM-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:import1="DR-GW-Interface/DR-GW-Radio.Events" xmlns:tns="DR-GW-Interface/DR-GW-Radio" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="DR-GW-Radio" targetNamespace="DR-GW-Interface/DR-GW-Radio" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="DR-GW-Radio.xsd" namespace="DR-GW-Interface/DR-GW-Radio" />
      <xsd:import schemaLocation="DR-GW-Radio.Events.xsd" namespace="DR-GW-Interface/DR-GW-Radio.Events" />
    </xsd:schema>
  </types>
  <message name="radio_GetIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Radio_Get" />
  </message>
  <message name="radio_GetOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:Radio_Response" />
  </message>
  <message name="radio_GetListIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Radio_GetList" />
  </message>
  <message name="radio_GetListOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:Radio_Response" />
  </message>
  <message name="radio_GetGroupsIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Radio_GetGroups" />
  </message>
  <message name="radio_GetGroupsOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:Radio_Response" />
  </message>
  <message name="radio_TrackIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Radio_Track" />
  </message>
  <message name="radio_TrackOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:Radio_Response" />
  </message>
  <message name="radio_ChangeOPTAIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Radio_ChangeOPTA" />
  </message>
  <message name="radio_ChangeOPTAOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:Radio_Response" />
  </message>
  <message name="radio_EnDisableIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Radio_EnDisable" />
  </message>
  <message name="radio_EnDisableOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:Radio_Response" />
  </message>
  <portType name="DR-GW-RadioInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="Radio_Get">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:radio_GetIn" />
      <output message="tns:radio_GetOut" />
    </operation>
    <operation name="Radio_GetList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:radio_GetListIn" />
      <output message="tns:radio_GetListOut" />
    </operation>
    <operation name="Radio_GetGroups">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:radio_GetGroupsIn" />
      <output message="tns:radio_GetGroupsOut" />
    </operation>
    <operation name="Radio_Track">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:radio_TrackIn" />
      <output message="tns:radio_TrackOut" />
    </operation>
    <operation name="Radio_ChangeOPTA">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:radio_ChangeOPTAIn" />
      <output message="tns:radio_ChangeOPTAOut" />
    </operation>
    <operation name="Radio_EnDisable">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:radio_EnDisableIn" />
      <output message="tns:radio_EnDisableOut" />
    </operation>
  </portType>
  <binding name="WebSocketBinding_DR-GW-RadioInterface" type="tns:DR-GW-RadioInterface">
    <soap:binding transport="http://schemas.microsoft.com/soap/websocket" />
    <operation name="Radio_Get">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Radio:radio_GetIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Radio_GetList">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Radio:radio_GetListIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Radio_GetGroups">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Radio:radio_GetGroupsIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Radio_Track">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Radio:radio_TrackIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Radio_ChangeOPTA">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Radio:radio_ChangeOPTAIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Radio_EnDisable">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Radio:radio_EnDisableIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DR-GW-RadioPort">
    <port name="DR-GW-RadioPort" binding="tns:WebSocketBinding_DR-GW-RadioInterface">
      <soap:address location="ws://localhost" />
    </port>
  </service>
</definitions>