DR-GW-Radio/DR-GW-Radio.Events.wsdl

<!--WSDL generated by thinktecture WSCF; version 1.0.13.0-->
<!--Friday, 11-09-2015 - 09:58 AM-->
<definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="DR-GW-Interface/DR-GW-Radio.Events" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DR-GW-Radio.Events" targetNamespace="DR-GW-Interface/DR-GW-Radio.Events" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="DR-GW-Radio.Events.xsd" namespace="DR-GW-Interface/DR-GW-Radio.Events" />
    </xsd:schema>
  </types>
  <message name="radio_GetEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Radio_GetEvent" />
  </message>
  <message name="radio_GetListEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Radio_GetListEvent" />
  </message>
  <message name="radio_GetGroupsEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Radio_GetGroupsEvent" />
  </message>
  <message name="radio_EventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Radio_Event" />
  </message>
  <message name="radio_TrackEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Radio_TrackEvent" />
  </message>
  <message name="radio_ChangeOPTAEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Radio_ChangeOPTAEvent" />
  </message>
  <message name="radio_EnDisableEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Radio_EnDisableEvent" />
  </message>
  <message name="radio_TrackSubscriptionEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Radio_TrackSubscriptionEvent" />
  </message>
  <portType name="DR-GW-Radio.EventsInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="Radio_GetEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:radio_GetEventIn" />
    </operation>
    <operation name="Radio_GetListEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:radio_GetListEventIn" />
    </operation>
    <operation name="Radio_GetGroupsEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:radio_GetGroupsEventIn" />
    </operation>
    <operation name="Radio_Event">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:radio_EventIn" />
    </operation>
    <operation name="Radio_TrackEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:radio_TrackEventIn" />
    </operation>
    <operation name="Radio_ChangeOPTAEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:radio_ChangeOPTAEventIn" />
    </operation>
    <operation name="Radio_EnDisableEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:radio_EnDisableEventIn" />
    </operation>
    <operation name="Radio_TrackSubscriptionEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:radio_TrackSubscriptionEventIn" />
    </operation>
  </portType>
  <binding name="WebSocketBinding_DR-GW-Radio.EventsInterface" type="tns:DR-GW-Radio.EventsInterface">
    <soap:binding transport="http://schemas.microsoft.com/soap/websocket" />
    <operation name="Radio_GetEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Radio.Events:radio_GetEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Radio_GetListEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Radio.Events:radio_GetListEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Radio_GetGroupsEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Radio.Events:radio_GetGroupsEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Radio_Event">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Radio.Events:radio_EventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Radio_TrackEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Radio.Events:radio_TrackEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Radio_ChangeOPTAEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Radio.Events:radio_ChangeOPTAEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Radio_EnDisableEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Radio.Events:radio_EnDisableEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Radio_TrackSubscriptionEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Radio.Events:radio_TrackSubscriptionEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
  </binding>
  <service name="DR-GW-Radio.EventsPort">
    <port name="DR-GW-Radio.EventsPort" binding="tns:WebSocketBinding_DR-GW-Radio.EventsInterface">
      <soap:address location="ws://localhost" />
    </port>
  </service>
</definitions>