DR-GW-OrganisationBlock/DR-GW-OrganisationBlock.wsdl

<!--WSDL generated by thinktecture WSCF; version 1.0.13.0-->
<!--Friday, 11-09-2015 - 09:54 AM-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:import1="DR-GW-Interface/DR-GW-OrganisationBlock.Events" xmlns:tns="DR-GW-Interface/DR-GW-OrganisationBlock" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="DR-GW-OrganisationBlock" targetNamespace="DR-GW-Interface/DR-GW-OrganisationBlock" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="DR-GW-OrganisationBlock.xsd" namespace="DR-GW-Interface/DR-GW-OrganisationBlock" />
      <xsd:import schemaLocation="DR-GW-OrganisationBlock.Events.xsd" namespace="DR-GW-Interface/DR-GW-OrganisationBlock.Events" />
    </xsd:schema>
  </types>
  <message name="org_GetIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Org_Get" />
  </message>
  <message name="org_GetOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:Org_Response" />
  </message>
  <message name="org_GetListIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Org_GetList" />
  </message>
  <message name="org_GetListOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:Org_Response" />
  </message>
  <portType name="DR-GW-OrganisationBlockInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="Org_Get">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:org_GetIn" />
      <output message="tns:org_GetOut" />
    </operation>
    <operation name="Org_GetList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:org_GetListIn" />
      <output message="tns:org_GetListOut" />
    </operation>
  </portType>
  <binding name="WebSocketBinding_DR-GW-OrganisationBlockInterface" type="tns:DR-GW-OrganisationBlockInterface">
    <soap:binding transport="http://schemas.microsoft.com/soap/websocket" />
    <operation name="Org_Get">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-OrganisationBlock:org_GetIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Org_GetList">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-OrganisationBlock:org_GetListIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DR-GW-OrganisationBlockPort">
    <port name="DR-GW-OrganisationBlockPort" binding="tns:WebSocketBinding_DR-GW-OrganisationBlockInterface">
      <soap:address location="ws://localhost" />
    </port>
  </service>
</definitions>