DR-GW-OrganisationBlock/DR-GW-OrganisationBlock.Events.wsdl

<!--WSDL generated by thinktecture WSCF; version 1.0.13.0-->
<!--Wednesday, 06-06-2018 - 02:10 PM-->
<definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="DR-GW-Interface/DR-GW-OrganisationBlock.Events" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DR-GW-OrganisationBlock.Events" targetNamespace="DR-GW-Interface/DR-GW-OrganisationBlock.Events" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="DR-GW-OrganisationBlock.Events.xsd" namespace="DR-GW-Interface/DR-GW-OrganisationBlock.Events" />
    </xsd:schema>
  </types>
  <message name="org_GetEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Org_GetEvent" />
  </message>
  <message name="org_GetListEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Org_GetListEvent" />
  </message>
  <message name="org_EventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Org_Event" />
  </message>
  <portType name="DR-GW-OrganisationBlock.EventsInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="Org_GetEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:org_GetEventIn" />
    </operation>
    <operation name="Org_GetListEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:org_GetListEventIn" />
    </operation>
    <operation name="Org_Event">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:org_EventIn" />
    </operation>
  </portType>
  <binding name="WebSocketBinding_DR-GW-OrganisationBlock.EventsInterface" type="tns:DR-GW-OrganisationBlock.EventsInterface">
    <soap:binding transport="http://schemas.microsoft.com/soap/websocket" />
    <operation name="Org_GetEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-OrganisationBlock.Events:org_GetEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Org_GetListEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-OrganisationBlock.Events:org_GetListEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Org_Event">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-OrganisationBlock.Events:org_EventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
  </binding>
  <service name="DR-GW-OrganisationBlock.EventsPort">
    <port name="DR-GW-OrganisationBlock.EventsPort" binding="tns:WebSocketBinding_DR-GW-OrganisationBlock.EventsInterface">
      <soap:address location="ws://localhost" />
    </port>
  </service>
</definitions>