DR-GW-Session/DR-GW-Session.wsdl

<!--WSDL generated by thinktecture WSCF; version 1.0.13.0-->
<!--Friday, 11-09-2015 - 10:01 AM-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:import1="DR-GW-Interface/DR-GW-Session.Events" xmlns:tns="DR-GW-Interface/DR-GW-Session" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="DR-GW-Session" targetNamespace="DR-GW-Interface/DR-GW-Session" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="DR-GW-Session.xsd" namespace="DR-GW-Interface/DR-GW-Session" />
      <xsd:import schemaLocation="DR-GW-Session.Events.xsd" namespace="DR-GW-Interface/DR-GW-Session.Events" />
    </xsd:schema>
  </types>
  <message name="session_LoginIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Session_Login" />
  </message>
  <message name="session_LoginOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:Session_Response" />
  </message>
  <message name="session_LogoutIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Session_Logout" />
  </message>
  <message name="session_LogoutOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:Session_Response" />
  </message>
  <message name="session_SuperviseIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Session_Supervise" />
  </message>
  <message name="session_SuperviseOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:Session_Response" />
  </message>
  <message name="session_CheckIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Session_Check" />
  </message>
  <message name="session_CheckOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:Session_Response" />
  </message>
  <portType name="DR-GW-SessionInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="Session_Login">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:session_LoginIn" />
      <output message="tns:session_LoginOut" />
    </operation>
    <operation name="Session_Logout">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:session_LogoutIn" />
      <output message="tns:session_LogoutOut" />
    </operation>
    <operation name="Session_Supervise">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:session_SuperviseIn" />
      <output message="tns:session_SuperviseOut" />
    </operation>
    <operation name="Session_Check">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:session_CheckIn" />
      <output message="tns:session_CheckOut" />
    </operation>
  </portType>
  <binding name="WebSocketBinding_DR-GW-SessionInterface" type="tns:DR-GW-SessionInterface">
    <soap:binding transport="http://schemas.microsoft.com/soap/websocket" />
    <operation name="Session_Login">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Session:session_LoginIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Session_Logout">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Session:session_LogoutIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Session_Supervise">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Session:session_SuperviseIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="Session_Check">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Session:session_CheckIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DR-GW-SessionPort">
    <port name="DR-GW-SessionPort" binding="tns:WebSocketBinding_DR-GW-SessionInterface">
      <soap:address location="ws://localhost" />
    </port>
  </service>
</definitions>