DR-GW-Session/DR-GW-Session.Events.wsdl

<!--WSDL generated by thinktecture WSCF; version 1.0.13.0-->
<!--Thursday, 07-06-2018 - 10:19 AM-->
<definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="DR-GW-Interface/DR-GW-Session.Events" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DR-GW-Session.Events" targetNamespace="DR-GW-Interface/DR-GW-Session.Events" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="DR-GW-Session.Events.xsd" namespace="DR-GW-Interface/DR-GW-Session.Events" />
    </xsd:schema>
  </types>
  <message name="session_LoginEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Session_LoginEvent" />
  </message>
  <message name="session_LogoutEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Session_LogoutEvent" />
  </message>
  <message name="session_SuperviseEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:Session_SuperviseEvent" />
  </message>
  <portType name="DR-GW-Session.EventsInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="Session_LoginEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:session_LoginEventIn" />
    </operation>
    <operation name="Session_LogoutEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:session_LogoutEventIn" />
    </operation>
    <operation name="Session_SuperviseEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:session_SuperviseEventIn" />
    </operation>
  </portType>
  <binding name="WebSocketBinding_DR-GW-Session.EventsInterface" type="tns:DR-GW-Session.EventsInterface">
    <soap:binding transport="http://schemas.microsoft.com/soap/websocket" />
    <operation name="Session_LoginEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Session.Events:session_LoginEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Session_LogoutEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Session.Events:session_LogoutEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="Session_SuperviseEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Session.Events:session_SuperviseEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
  </binding>
  <service name="DR-GW-Session.EventsPort">
    <port name="DR-GW-Session.EventsPort" binding="tns:WebSocketBinding_DR-GW-Session.EventsInterface">
      <soap:address location="ws://localhost" />
    </port>
  </service>
</definitions>