DR-GW-Application/DR-GW-Application.wsdl

<!--WSDL generated by thinktecture WSCF; version 1.0.13.0-->
<!--Wednesday, 06-06-2018 - 12:46 PM-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:import1="DR-GW-Interface/DR-GW-Application.Events" xmlns:tns="DR-GW-Interface/DR-GW-Application" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="DR-GW-Application" targetNamespace="DR-GW-Interface/DR-GW-Application" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="DR-GW-Application.xsd" namespace="DR-GW-Interface/DR-GW-Application" />
      <xsd:import schemaLocation="DR-GW-Application.Events.xsd" namespace="DR-GW-Interface/DR-GW-Application.Events" />
    </xsd:schema>
  </types>
  <message name="app_GetIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:App_Get" />
  </message>
  <message name="app_GetOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:App_Response" />
  </message>
  <message name="app_GetListIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:App_GetList" />
  </message>
  <message name="app_GetListOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:App_Response" />
  </message>
  <portType name="DR-GW-ApplicationInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="App_Get">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:app_GetIn" />
      <output message="tns:app_GetOut" />
    </operation>
    <operation name="App_GetList">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:app_GetListIn" />
      <output message="tns:app_GetListOut" />
    </operation>
  </portType>
  <binding name="WebSocketBinding_DR-GW-ApplicationInterface" type="tns:DR-GW-ApplicationInterface">
    <soap:binding transport="http://schemas.microsoft.com/soap/websocket" />
    <operation name="App_Get">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Application:app_GetIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="App_GetList">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Application:app_GetListIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DR-GW-ApplicationPort">
    <port name="DR-GW-ApplicationPort" binding="tns:WebSocketBinding_DR-GW-ApplicationInterface">
      <soap:address location="ws://localhost" />
    </port>
  </service>
</definitions>