DR-GW-Management/DR-GW-Management.wsdl

<!--WSDL generated by thinktecture WSCF; version 1.0.13.0-->
<!--Wednesday, 06-06-2018 - 02:07 PM-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:import1="DR-GW-Interface/DR-GW-Management.Events"
  xmlns:tns="DR-GW-Interface/DR-GW-Management" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="DR-GW-Management"
  targetNamespace="DR-GW-Interface/DR-GW-Management" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="DR-GW-Management.xsd" namespace="DR-GW-Interface/DR-GW-Management"/>
      <xsd:import schemaLocation="DR-GW-Management.Events.xsd"
        namespace="DR-GW-Interface/DR-GW-Management.Events"/>
    </xsd:schema>
  </types>

  <message name="management_GetIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
    <part name="params" element="tns:Management_Get"/>
  </message>
  <message name="management_GetOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
    <part name="params" element="import1:Management_Response"/>
  </message>
  <message name="management_PostIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
    <part name="params" element="tns:Management_Post"/>
  </message>
  <message name="management_PostOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
    <part name="params" element="import1:Management_Response"/>
  </message>
  <message name="management_PutIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
    <part name="params" element="tns:Management_Put"/>
  </message>
  <message name="management_PutOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
    <part name="params" element="import1:Management_Response"/>
  </message>
  <message name="management_DeleteIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
    <part name="params" element="tns:Management_Delete"/>
  </message>
  <message name="management_DeleteOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
    <part name="params" element="import1:Management_Response"/>
  </message>

  <portType name="DR-GW-ManagementInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
    <operation name="management_Get">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
      <input message="tns:management_GetIn"/>
      <output message="tns:management_GetOut"/>
    </operation>
    <operation name="management_Post">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
      <input message="tns:management_PostIn"/>
      <output message="tns:management_PostOut"/>
    </operation>
    <operation name="management_Put">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
      <input message="tns:management_PutIn"/>
      <output message="tns:management_PutOut"/>
    </operation>
    <operation name="management_Delete">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"/>
      <input message="tns:management_DeleteIn"/>
      <output message="tns:management_DeleteOut"/>
    </operation>
  </portType>

  <binding name="WebSocketBinding_DR-GW-ManagementInterface" type="tns:DR-GW-ManagementInterface">
    <soap:binding transport="http://schemas.microsoft.com/soap/websocket"/>
    <operation name="management_Get">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Management:management_GetIn"
        style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="management_Post">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Management:management_PostIn"
        style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="management_Put">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Management:management_PutIn"
        style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="management_Delete">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-Management:management_DeleteIn"
        style="document"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="DR-GW-ManagementPort">
    <port name="DR-GW-ManagementPort" binding="tns:WebSocketBinding_DR-GW-ManagementInterface">
      <soap:address location="ws://localhost"/>
    </port>
  </service>
</definitions>
