DR-GW-SDS/DR-GW-SDS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="DR-GW" targetNamespace="DR-GW" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <!-- *************************************************************** -->
  <xs:include schemaLocation="DR-GW-Sds.send.xsd"/>
  <xs:include schemaLocation="DR-GW-Sds.receive.xsd"/>
  <xs:include schemaLocation="../Types/DR-GW.types.xsd"/>
  <!-- *************************************************************** -->
  <xs:element name="sds">
    <xs:complexType>
      <xs:choice>
        <xs:element name="send" type="typeSdsSend"/>
        <xs:element name="sendReport" type="typeSdsSendReport"/>
        <xs:element name="response" type="typeResponse"/>
        <xs:element name="sendEvent" type="typeSdsSendEvent"/>
        <xs:element name="receiveEvent" type="typeSdsReceiveEvent"/>
        <xs:element name="reportEvent" type="typeSdsReportEvent"/>
      </xs:choice>
    </xs:complexType>
  </xs:element>
</xs:schema>
