DR-GW-SDS/DR-GW-SDS.Events.wsdl

<!--WSDL generated by thinktecture WSCF; version 1.0.13.0-->
<!--Friday, 11-09-2015 - 09:59 AM-->
<definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="DR-GW-Interface/DR-GW-SDS.Events" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DR-GW-SDS.Events" targetNamespace="DR-GW-Interface/DR-GW-SDS.Events" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="DR-GW-SDS.Events.xsd" namespace="DR-GW-Interface/DR-GW-SDS.Events" />
    </xsd:schema>
  </types>
  <message name="sDS_SendEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:SDS_SendEvent" />
  </message>
  <message name="sDS_ReceiveEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:SDS_ReceiveEvent" />
  </message>
  <message name="sDS_ReportEventIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:SDS_ReportEvent" />
  </message>
  <portType name="DR-GW-SDS.EventsInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="SDS_SendEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:sDS_SendEventIn" />
    </operation>
    <operation name="SDS_ReceiveEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:sDS_ReceiveEventIn" />
    </operation>
    <operation name="SDS_ReportEvent">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:sDS_ReportEventIn" />
    </operation>
  </portType>
  <binding name="WebSocketBinding_DR-GW-SDS.EventsInterface" type="tns:DR-GW-SDS.EventsInterface">
    <soap:binding transport="http://schemas.microsoft.com/soap/websocket" />
    <operation name="SDS_SendEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-SDS.Events:sDS_SendEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="SDS_ReceiveEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-SDS.Events:sDS_ReceiveEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
    <operation name="SDS_ReportEvent">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-SDS.Events:sDS_ReportEventIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
    </operation>
  </binding>
  <service name="DR-GW-SDS.EventsPort">
    <port name="DR-GW-SDS.EventsPort" binding="tns:WebSocketBinding_DR-GW-SDS.EventsInterface">
      <soap:address location="ws://localhost" />
    </port>
  </service>
</definitions>