DR-GW-SDS/DR-GW-SDS.wsdl

<!--WSDL generated by thinktecture WSCF; version 1.0.13.0-->
<!--Thursday, 07-06-2018 - 10:02 AM-->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:import1="DR-GW-Interface/DR-GW-SDS.Events" xmlns:tns="DR-GW-Interface/DR-GW-SDS" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="DR-GW-SDS" targetNamespace="DR-GW-Interface/DR-GW-SDS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="DR-GW-SDS.xsd" namespace="DR-GW-Interface/DR-GW-SDS" />
      <xsd:import schemaLocation="DR-GW-SDS.Events.xsd" namespace="DR-GW-Interface/DR-GW-SDS.Events" />
    </xsd:schema>
  </types>
  <message name="sDS_SendIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:SDS_Send" />
  </message>
  <message name="sDS_SendOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:SDS_Response" />
  </message>
  <message name="sDS_SendReportIn">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="tns:SDS_SendReport" />
  </message>
  <message name="sDS_SendReportOut">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <part name="params" element="import1:SDS_Response" />
  </message>
  <portType name="DR-GW-SDSInterface">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
    <operation name="SDS_Send">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:sDS_SendIn" />
      <output message="tns:sDS_SendOut" />
    </operation>
    <operation name="SDS_SendReport">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" />
      <input message="tns:sDS_SendReportIn" />
      <output message="tns:sDS_SendReportOut" />
    </operation>
  </portType>
  <binding name="WebSocketBinding_DR-GW-SDSInterface" type="tns:DR-GW-SDSInterface">
    <soap:binding transport="http://schemas.microsoft.com/soap/websocket" />
    <operation name="SDS_Send">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-SDS:sDS_SendIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SDS_SendReport">
      <soap:operation soapAction="DR-GW-Interface/DR-GW-SDS:sDS_SendReportIn" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DR-GW-SDSPort">
    <port name="DR-GW-SDSPort" binding="tns:WebSocketBinding_DR-GW-SDSInterface">
      <soap:address location="ws://localhost" />
    </port>
  </service>
</definitions>